/* 
    Document   : main
    Created on : 26-Jul-2013, 3:55:05 PM
    Author     : Nigini Abilio - nigini@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}
